services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: "${PG_USER}"
      POSTGRES_PASSWORD: "${PG_PASSWORD}"
      POSTGRES_DB: "${PG_NAME}"
      PGPORT: "${PG_PORT}"
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "${PG_PORT}:5435"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U ${PG_USER} -d ${PG_NAME} -h localhost -p ${PG_PORT}",
        ]
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_API_URL: "${VITE_API_URL}"
    restart: unless-stopped 
    depends_on:
      db:
        condition: service_healthy
    environment:
      NODE_ENV: production
    ports:
      - "4000:3000"
    env_file:
      - .env
    volumes:
      - ./uploads:/app/uploads

volumes:
  db_data:
