.home {
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
  color: #000;
  height: 100%;
}

.homebar {
  background-color: #fff;
  width: 100%;
  display: flex;
  padding: 1rem 0.8rem;
  justify-content: space-between;
  align-items: center;
}

.search {
  position: relative;
  width: 30%;
}

.searchInput {
  width: 100%;
  padding: 0.8rem 5rem 0.8rem 1rem;
  background-color: #fff;
  color: #000;
  border: #ededed 1px solid;
  border-radius: 0.3rem;
}

.searchIcon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #c5c5c5;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.addButton {
  background-color: #f7f7f7;
  color: #000;
  padding: 0.6rem 1rem;
  border: 1px solid #d4d4d4;
  border-radius: 0.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1;
  font-weight: 400;
}

.addButton:hover {
  background-color: #e6e6e6;
}

.tableSection {
  display: flex;
  flex-direction: column;
  margin: 0.7rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.tableSectionHeader {
  margin: 1rem 2rem;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tableTabs {
  display: flex;
  gap: 1.5rem;
}

.tableTabs div {
  padding: 0.7rem 0;
  cursor: pointer;
  color: #acacac;
}

.tableTabs .active {
  color: #000;
  border-bottom: 3px solid #000;
  font-weight: bold;
}

.tableSort {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
  border: 2px solid #e6e6e6;
  color: #878787;
}
