.errorPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.e404 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.eback {
  font-size: 1rem;
  text-align: center;
}
