.mainContainer {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.mainContainer aside {
  flex-shrink: 0;
  height: 100%;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: scroll;
}

.mainbox {
  height: fit-content;
  background-color: #f8f8f8;
}
