.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color:#4BAF4F;
  color:#ffff;
  padding: 0.8rem;
  align-items: center;
  border: 1px #f1f1f1 solid;
}

.navbar h3 {
  font-size: 1.4rem;
  font-weight: 400;
}

.actions {
  display: flex;
  gap: 1rem;
}

.notif,
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.notif {
  border-radius: 2rem;
   background-color: #79C378;
}

.profile {
  border-radius: 0.6rem;
  gap: 0.5rem;
  background-color: #79C378;
}

.img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
 
}

.credentials {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  height: 100%;
  line-height: 100%;
  gap: 0.2rem;
  padding: 0.2rem 0;

}


.user {
  font-size: 0.9rem;
  font-weight: 600;
}

.usertype {
  font-size: 0.75rem;
  color: #ffff;
  font-weight: 400;
  line-height: 100%;
}
